<html>

<head>
  <title>hCaptcha</title>
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>

<body style='background-color: transparent;'>
  <div style='height: 60px;'></div>
  <form action="?" method="POST">
    <div class="h-captcha" data-sitekey="4e3ad15d-78c8-41ee-a097-a311a9203aef" data-callback="captchaCallback"></div>

  </form>
  <script>
    function captchaCallback(response) {
      if (typeof Captcha !== "undefined") {
        Captcha.postMessage(response);
        window.parent.postMessage(response, "*");
      }
    }
  </script>
</body>

</html>